<app-nav1></app-nav1>
  <nav class="navbar navbar-expand-lg navbar-black bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
            <a class="nav-link" style="color:white; font-size:30px; margin-left:600px;" routerLink='/motorcycles'>Motorcycles</a>
            </li></ul></div></nav>
            <div class="container3">
                <div class="row">
                  <div class="column">
                      <div class="card" style="width:100%;">
                          <img class="card-img-top" src="./assets/image21.png" alt="1st one">
                          <div class="card-body" style="background-color:black;">
                            <div class="card-text" style="text-align: center; font-size:15px; color:white;"><b>Meteor</b></div>
                            <button type="button" class="btn btn-dark stretched-link" (click)="sendData()" routerLink='/cart' style="padding:10px; margin-top:10px; margin-bottom:0px; color:white; margin-left:160px;">Explore ></button> 
                          </div>
                  </div></div>
                  <div class="column">
                      <div class="card" style="width:100%;">
                          <img class="card-img-top" src="./assets/image22.png" alt="2nd one">
                          <div class="card-body" style="background-color:black;">
                            <div class="card-text" style="text-align: center; font-size:15px; color:white;"><b>Interceptor 650</b></div>
                            <button type="button" class="btn btn-dark stretched-link" (click)="sendData1()" routerLink='/cart' style="padding:10px; margin-top:10px; margin-bottom:0px; color:white; margin-left:160px;">Explore ></button> 
                          </div>
                  </div></div>
                  <div class="column">
                      <div class="card" style="width:100%;">
                          <img class="card-img-top" src="./assets/image23.png" alt="3rd one">
                          <div class="card-body" style="background-color:black;">
                            <div class="card-text" style="text-align: center; font-size:15px; color:white;"><b>Continental GT</b></div>
                            <button type="button" class="btn btn-dark stretched-link" href="#" style="padding:10px; margin-top:10px; margin-bottom:0px; color:white; margin-left:160px;">Explore ></button> 
                          </div>
                  </div>
                </div></div></div>
                <div class="container3">
                <div class="row">
                  <div class="column">
                      <div class="card" style="width:100%;">
                          <img class="card-img-top" src="./assets/image24.png" alt="4th one">
                          <div class="card-body" style="background-color:black;">
                            <div class="card-text" style="text-align: center; font-size:15px; color:white;"><b>Himalayan</b></div>
                            <button type="button" class="btn btn-dark stretched-link" href="#" style="padding:10px; margin-top:10px; margin-bottom:0px; color:white; margin-left:160px;">Explore ></button> 
                          </div>
                  </div></div>
                  <div class="column">
                      <div class="card" style="width:100%;">
                          <img class="card-img-top" src="./assets/image25.png" alt="5th one">
                          <div class="card-body" style="background-color:black;">
                            <div class="card-text" style="text-align: center; font-size:15px; color:white;"><b>Classic</b></div>
                            <button type="button" class="btn btn-dark stretched-link" href="#" style="padding:10px; margin-top:10px; margin-bottom:0px; color:white; margin-left:160px;">Explore ></button> 
                          </div>
                  </div></div>
                  <div class="column">
                      <div class="card" style="width:100%;">
                          <img class="card-img-top" src="./assets/image26.png" alt="6th one">
                          <div class="card-body" style="background-color:black;">
                            <div class="card-text" style="text-align: center; font-size:15px; color:white;"><b>Bullet</b></div>
                            <button type="button" class="btn btn-dark stretched-link" href="#" style="padding:10px; margin-top:10px; margin-bottom:0px; color:white; margin-left:160px;">Explore ></button> 
                          </div>
                  </div>
                </div></div></div>
                <app-secnavbar></app-secnavbar>
                <app-endbar></app-endbar>
                