

    

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Sl.no</th>
        <th scope="col">Item</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Edit</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{newmessage}}</td>
        <td>1,70,000/-</td>
        <td>{{a}}</td>
        <td><button type="button" class="btn btn-primary" >remove</button> 
         </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>{{newmessage1}}</td>
        <td>1,80,000/-</td>
        <td>{{a}}</td>
        <td><button type="button" class="btn btn-primary" >remove</button> 
         </td>
      </tr>
      
    </tbody>
  </table>