<app-nav1></app-nav1>
  <nav class="navbar navbar-expand-lg navbar-black bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" style="color:white; font-size: 25px; margin-left:580px;" ><strong>OUR WORLD</strong></a> 
    </div>
  </nav>
  <div>
      <img src="./assets/image30.png" width=100% >
  </div>
  <div class="container3">
    <div class="row">
      <div class="column">
          <div class="card" style="width:100%;">
              <img class="card-img-top" src="./assets/image31.png" alt="1st one">
              <div class="card-body" style="background-color:black;">
                <div class="card-text" style="text-align: center; font-size:15px; color:white;"><b>Custom World</b></div>
                <button type="button" class="btn btn-dark stretched-link" href="#" style="padding:10px; margin-top:10px; margin-bottom:0px; color:white; margin-left:135px;">Know more ></button> 
              </div>
      </div></div>
      <div class="column">
          <div class="card" style="width:100%;">
              <img class="card-img-top" src="./assets/image32.png" alt="2nd one">
              <div class="card-body" style="background-color:black;">
                <div class="card-text" style="text-align: center; font-size:15px; color:white;"><b>WallPapers</b></div>
                <button type="button" class="btn btn-dark stretched-link" href="#" style="padding:10px; margin-top:10px; margin-bottom:0px; color:white; margin-left:135px;">know more ></button> 
              </div>
      </div></div>
      <div class="column">
          <div class="card" style="width:100%;">
              <img class="card-img-top" src="./assets/image33.png" alt="3rd one">
              <div class="card-body" style="background-color:black;">
                <div class="card-text" style="text-align: center; font-size:15px; color:white;"><b>News and Media</b></div>
                <button type="button" class="btn btn-dark stretched-link" href="#" style="padding:10px; margin-top:10px; margin-bottom:0px; color:white; margin-left:135px;">know more ></button>  
              </div>
      </div>
    </div></div></div>
    <div class="container3">
        <div class="row">
          <div class="column">
              <div class="card" style="width:100%;">
                  <img class="card-img-top" src="./assets/image34.png" alt="1st one">
                  <div class="card-body" style="background-color:black;">
                    <div class="card-text" style="text-align: center; font-size:15px; color:white;"><b>Since 1901</b></div>
                    <button type="button" class="btn btn-dark stretched-link" href="#" style="padding:10px; margin-top:10px; margin-bottom:0px; color:white; margin-left:150px;">Know more ></button> 
                  </div>
          </div></div>
          <div class="column">
              <div class="card" style="width:100%;">
                  <img class="card-img-top" src="./assets/image35.png" alt="2nd one">
                  <div class="card-body" style="background-color:black;">
                    <div class="card-text" style="text-align: center; font-size:15px; color:white;"><b>Campaigns</b></div>
                    <button type="button" class="btn btn-dark stretched-link" href="#" style="padding:10px; margin-top:10px; margin-bottom:0px; color:white; margin-left:120px;">Know more ></button> 
                  </div>
          </div></div>
          <div class="column">
              <div class="card" style="width:100%;">
                  <img class="card-img-top" src="./assets/image36.png" alt="3rd one">
                  <div class="card-body" style="background-color:black;">
                    <div class="card-text" style="text-align: center; font-size:15px; color:white;"><b>Forum</b></div>
                    <button type="button" class="btn btn-dark stretched-link" href="#" style="padding:10px; margin-top:10px; margin-bottom:0px; color:white; margin-left:135px;">Know more ></button> 
                  </div>
          </div>
        </div></div></div>
        <div class="container3">
            <div class="row">
              <div class="column">
                  <div class="card" style="width:100%;">
                      <img class="card-img-top" src="./assets/image37.png" alt="1st one">
                      <div class="card-body" style="background-color:black;">
                        <div class="card-text" style="text-align: center; font-size:15px; color:white;"><b>Carrers</b></div>
                        <button type="button" class="btn btn-dark stretched-link" href="#" style="padding:10px; margin-top:10px; margin-bottom:0px; color:white; margin-left:150px;">Know more ></button> 
                      </div>
              </div></div>
              <div class="column">
                  <div class="card" style="width:100%;">
                      <img class="card-img-top" src="./assets/image38.png" alt="2nd one">
                      <div class="card-body" style="background-color:black;">
                        <div class="card-text" style="text-align: center; font-size:15px; color:white;"><b>Trip Stories</b></div>
                        <button type="button" class="btn btn-dark stretched-link" href="#" style="padding:10px; margin-top:10px; margin-bottom:0px; color:white; margin-left:120px;">Know more ></button> 
                      </div>
              </div></div>
              <div class="column">
                  <div class="card" style="width:100%;">
                      <img class="card-img-top" src="./assets/image39.png" alt="3rd one">
                      <div class="card-body" style="background-color:black;">
                        <div class="card-text" style="text-align: center; font-size:15px; color:white;"><b>Galleries</b></div>
                        <button type="button" class="btn btn-dark stretched-link" href="#" style="padding:10px; margin-top:10px; margin-bottom:0px; color:white; margin-left:135px;">Know more ></button> 
                      </div>
              </div>
            </div></div></div>
            <app-secnavbar></app-secnavbar>
            <app-endbar></app-endbar>
        
