<app-nav1></app-nav1>
  <nav class="navbar navbar-expand-lg navbar-black bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" style="color:white; font-size: 25px; margin-left:580px;" ><strong>Locate us</strong></a> 
    </div>
  </nav>
  <div class="container3">
    <div class="row">
      <div class="column">
          <div class="card" style="width:100%;">
              <img class="card-img-top" src="./assets/image17.png" alt="1st one">
              <div class="card-body" style="background-color:black;">
                <div class="card-text" style="text-align: center; font-size:15px; color:white;"><b>Stores</b></div>
                <button type="button" class="btn btn-dark stretched-link" href="#" style="padding:10px; margin-top:10px; margin-bottom:0px; color:white; margin-left:150px;">Find a Store ></button> 
              </div>
      </div></div>
      <div class="column">
          <div class="card" style="width:100%;">
              <img class="card-img-top" src="./assets/image14.png" alt="2nd one">
              <div class="card-body" style="background-color:black;">
                <div class="card-text" style="text-align: center; font-size:15px; color:white;"><b>Service centers</b></div>
                <button type="button" class="btn btn-dark stretched-link" href="#" style="padding:10px; margin-top:10px; margin-bottom:0px; color:white; margin-left:120px;">Find a Service center ></button> 
              </div>
      </div></div>
      <div class="column">
          <div class="card" style="width:100%;">
              <img class="card-img-top" src="./assets/image13.png" alt="3rd one">
              <div class="card-body" style="background-color:black;">
                <div class="card-text" style="text-align: center; font-size:15px; color:white;"><b>Genuine parts distributor</b></div>
                <button type="button" class="btn btn-dark stretched-link" href="#" style="padding:10px; margin-top:10px; margin-bottom:0px; color:white; margin-left:135px;">Find a distributor ></button> 
              </div>
      </div>
    </div></div></div>
    <div class="container3">
    <div class="row">
      <div class="column">
          <div class="card" style="width:100%;">
              <img class="card-img-top" src="./assets/image18.png" alt="4th one">
              <div class="card-body" style="background-color:black;">
                <div class="card-text" style="text-align: center; font-size:15px; color:white;"><b>Vintage Store</b></div>
                <button type="button" class="btn btn-dark stretched-link" href="#" style="padding:10px; margin-top:10px; margin-bottom:0px; color:white; margin-left:160px;">Explore ></button> 
              </div>
      </div></div>
      <div class="column">
          <div class="card" style="width:100%;">
              <img class="card-img-top" src="./assets/image19.png" alt="5th one">
              <div class="card-body" style="background-color:black;">
                <div class="card-text" style="text-align: center; font-size:15px; color:white;"><b>Garage Cafe</b></div>
                <button type="button" class="btn btn-dark stretched-link" href="#" style="padding:10px; margin-top:10px; margin-bottom:0px; color:white; margin-left:160px;">Explore ></button> 
              </div>
      </div></div>
      <div class="column">
          <div class="card" style="width:100%;">
              <img class="card-img-top" src="./assets/image20.png" alt="6th one">
              <div class="card-body" style="background-color:black;">
                <div class="card-text" style="text-align: center; font-size:15px; color:white;"><b>Service Maps</b></div>
                <button type="button" class="btn btn-dark stretched-link" href="#" style="padding:10px; margin-top:10px; margin-bottom:0px; color:white; margin-left:160px;">Explore ></button> 
              </div>
      </div>
    </div></div></div>
    <app-secnavbar></app-secnavbar>
    <app-endbar></app-endbar>
  
